on:
  push:
    branches: [master, main]
  pull_request:
    branches: [master, main]


name: test-coverage

jobs:
  test-coverage:
    runs-on: ${{ matrix.config.os }}

    name: ${{ matrix.config.os }} (${{ matrix.config.r }})

    strategy:
      fail-fast: false
      matrix:
        config:
          - {os: windows-latest, r: 'release', renv: '~\AppData\Local\renv'}

    env:
      R_REMOTES_NO_ERRORS_FROM_WARNINGS: true
      RSPM: ${{ matrix.config.rspm }}
      GITHUB_PAT: ${{ secrets.GH_PAT }}
      R_RENV_CACHE_DIR: ${{ matrix.config.renv }}

    steps:
      - uses: actions/checkout@v2

      - uses: r-lib/actions/setup-r@v2
        with:
          use-public-rspm: true
          r-version: ${{ matrix.config.r }}

      - name: Fix path for Windows caching
        if: runner.os == 'Windows'
        shell: bash
        run: echo "C:/windows/System32" >> $GITHUB_PATH

      - name: Cache R packages
        uses: actions/cache@v2
        with:
          path: |
            ${{ env.R_LIBS_USER }}
            ${{ env.R_RENV_CACHE_DIR }}
          key: ${{ matrix.config.os }}-${{ hashFiles('.github/R-version') }}-1-${{ hashFiles('.github/depends.Rds') }}
          restore-keys: ${{ matrix.config.os }}-${{ hashFiles('.github/R-version') }}-1-

      - name: Pandoc setup
        uses: r-lib/actions/setup-pandoc@v2

      - name: Test coverage
        run: |
          install.packages('covr')
          x <- covr::package_coverage(quiet = FALSE, verbose = TRUE)
          if (length(x)) {
            warning("Tests code coverage percentage is : ", covr::percent_coverage(x))
            covr::report(x, file = "covr-report.html")
          } else {
            writeLines("No functions", con = "covr-report.html")
          }
        shell: Rscript {0}

      - name: Upload check results
        uses: actions/upload-artifact@v2
        with:
          name: covr-report
          path: covr-report.html
